.logo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  
  .ivf {
    color: #2d89ff;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .pulse {
    color: #ff4d4f;
    margin-left: 5px;
    text-transform: capitalize;
  }
  .logo-img {
    height: 40px;
    object-fit: contain;
  }
    